* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

a,
button {
  text-decoration: none;
  color: inherit; }

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
figure,
figcaption {
  margin: 0;
  padding: 0; }

header,
main,
aside,
article,
section,
footer {
  display: block; }

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif; }

body {
  position: relative;
  font-size: 1rem;
  line-height: inherit;
  color: #212529;
  background-color: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif; }

.bold-text {
  font-weight: bold; }

.gray-text {
  color: #495057; }

.btn {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 8px 0;
  border-radius: 2px;
  transition: box-shadow 300ms;
  overflow: hidden; }
  .btn > span {
    padding: 0 16px; }
  .btn__white {
    background-color: #f8f9fa;
    color: #212529; }
  .btn__black {
    background-color: #212529;
    color: #f8f9fa; }
  .btn--full {
    width: 100%;
    text-align: center; }
  .btn:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

.header {
  width: 100%;
  padding: 11px 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
  .header > nav {
    width: 100%;
    display: flex;
    justify-content: space-between; }

.main {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
  padding: 40px 100px 0; }
  .main__section {
    position: relative;
    overflow: hidden; }
  .main__title {
    text-transform: uppercase;
    font-size: 3.2rem;
    letter-spacing: 10px;
    font-size: bold; }
  .main__subtitle {
    font-size: 1.5rem;
    color: #adb5bd;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 50px; }
  .main__heading {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding-right: 10px;
    position: relative;
    display: inline-block;
    background-color: #f8f9fa; }
    .main__heading::after {
      content: '';
      position: absolute;
      height: 2px;
      left: 0;
      top: 50%;
      width: 100vw;
      background-color: #ced4da;
      z-index: -1; }

.main-content {
  margin-bottom: 70px; }
  .main-content__item {
    display: flex;
    position: relative;
    padding-left: 32px;
    padding-bottom: 40px; }
    .main-content__item::before {
      content: '';
      position: absolute;
      background-color: #ced4da;
      border-radius: 50%;
      height: 10px;
      width: 10px;
      top: 0;
      left: 0; }
    .main-content__item::after {
      content: '';
      position: absolute;
      background-color: #ced4da;
      height: 100%;
      width: 2px;
      left: 4px;
      top: 5px; }
  .main-content--formation .left {
    width: 35%; }
  .main-content--formation .right {
    width: 65%; }
  .main-content--experience .main-content__item {
    flex-flow: column nowrap; }
  .main-content--experience .left {
    margin-bottom: 15px; }

.sidebar {
  height: 100vh;
  width: 312px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  right: 0;
  top: 0;
  overflow: auto;
  background-color: #212529;
  color: #f8f9fa; }
  .sidebar__profile-picture {
    margin: 30px auto;
    height: 100px;
    width: 100px;
    background-image: url("../../assets/dimttertiz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-color: #f8f9fa; }
  .sidebar__section {
    padding: 0 30px;
    margin-bottom: 20px; }
    .sidebar__section--social {
      display: flex;
      justify-content: space-between; }
      .sidebar__section--social > svg {
        fill: #e9ecef;
        height: 24px;
        width: 24px; }
  .sidebar__heading {
    font-size: 1.3rem;
    display: inline-block;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px; }
    .sidebar__heading::after {
      position: absolute;
      content: '';
      height: 2px;
      width: calc((302px - 60px) - 100%);
      top: 50%;
      left: calc(100% + 10px);
      background-color: #f8f9fa; }
  .sidebar__paragraph {
    color: #adb5bd; }

.skill {
  margin-bottom: 30px; }
  .skill__item {
    margin-bottom: 10px; }
  .skill__header {
    display: block;
    color: #e9ecef; }
  .skill__progress {
    display: block;
    height: 15px;
    width: 100%;
    background-color: #adb5bd;
    position: relative;
    border-radius: 2px;
    overflow: hidden; }
  .skill__completed {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    display: block;
    top: 0;
    transform: scaleX(0.5);
    transform-origin: center left;
    background-color: #228ae6; }

/*# sourceMappingURL=index.css.map */
